<!-- Sidebar -->
<ul
  class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <!-- Sidebar - Brand -->
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center"
    href="index.html"
  >
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Manajemen Keuangan</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link" href="index.html">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">Menu</div>

  <!-- Nav Item - Menu Makanan -->
  <li class="nav-item">
    <a class="nav-link" href="menu.html">
      <i class="fas fa-fw fa-utensils"></i>
      <span>Menu Makanan</span>
    </a>
  </li>

  <!-- Nav Item - Pemasukan -->
  <li class="nav-item">
    <a class="nav-link" href="/pemasukan">
      <i class="fas fa-fw fa-money-bill-wave"></i>
      <span>Pemasukan</span>
    </a>
  </li>

  <!-- Nav Item - Pengeluaran -->
  <li class="nav-item">
    <a class="nav-link" href="pengeluaran.html">
      <i class="fas fa-fw fa-receipt"></i>
      <span>Pengeluaran</span>
    </a>
  </li>

  <!-- Nav Item - Barang -->
  <li class="nav-item">
    <a class="nav-link" href="barang.html">
      <i class="fas fa-fw fa-box"></i>
      <span>Barang</span>
    </a>
  </li>

  <!-- Nav Item - Karyawan -->
  <li class="nav-item">
    <a class="nav-link" href="karyawan.html">
      <i class="fas fa-fw fa-users"></i>
      <span>Karyawan</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block" />

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button
      class="rounded-circle border-0"
      id="sidebarToggle"
      title="Toggle Sidebar"
    ></button>
  </div>
</ul>
<!-- End of Sidebar -->
